<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
  </body>
  <script>
	var WIDTH_IN_PERCENT_OF_PARENT = 90,
            HEIGHT_IN_PERCENT_OF_WIDTH = 50;

	var gd3 = Plotly.d3.select('body')
	    .append('div')
	    .style({
	       width: WIDTH_IN_PERCENT_OF_PARENT + '%',
	       'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',

               height: HEIGHT_IN_PERCENT_OF_WIDTH + 'vw',
               'margin-top': 10 + 'vh'
            });

	var gd = gd3.node();

	Things = [];
	x_data = [];
	temperature_data = [];
	humidity_data = [];

	Plotly.d3.json("{{request.url_root}}data/",
	               function(data){ Things = data;
	                   for (var i = 0; i < Things.length; i++) {
		                   x_data.push(Things[i].date);
		                   temperature_data.push(Things[i].temperature);
		                   humidity_data.push(Things[i].humidity);
		           };

		           var layout = {
		                margin: { t: 0 },
		                xaxis: {autorange: true},
		                yaxis: {title: 'Celsius', side: 'right'},
		                yaxis2: {title: '% r.H', overlaying: 'y', side: 'left'}
		           };

		           d = [{x: x_data, y: temperature_data, name: 'Temperature'},
		                {x: x_data, y: humidity_data, name: 'Humidity', yaxis: 'y2' }];

		           Plotly.newPlot(gd, d, layout);

		      });

	window.onresize = function() {
	    Plotly.Plots.resize(gd);
	};
    </script>
</html>
